<script async src="https://www.googletagmanager.com/gtag/js?id=G-MZ27JF7RTN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-MZ27JF7RTN');
</script>
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐍</text></svg>">