<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

  <!-- Tailwind (via CDN for simplicity) -->
  <script src="https://cdn.tailwindcss.com"></script>

  {% include head.html %}
</head>

<body class="bg-white text-black font-sans leading-normal">

  <!-- Navbar -->
  <main class="container">
    <div class="mt-10 mb-15">
      {% include nav.html %}
    </div>

  <!-- Main content -->
   <div class="mt-20">
     {{ content }}
   </div>
  </main>

  <!-- Footer -->
  
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>