<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TNZP6RQ6');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ " /assets/rouge.css" | relative_url }}">

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNZP6RQ6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <a href="{{ " /" | relative_url }}"><strong>{{ site.title }}</strong></a>
    <nav class="nav">
      <a href="{{ " /" | relative_url }}">
        Home
      </a>
      <a href="{{ " /posts/" | relative_url }}">
        Posts
      </a>
      <a href="{{ " /courses/" | relative_url }}">
        Courses
      </a>
    </nav>
  </header>
  <main>{{ content }}</main>
  <footer><small>© {{ site.time | date: "%Y" }}</small></footer>
</body>

</html>