---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <p><small>{{ page.date | date: "%-d %b %Y" }}</small></p>
  {{ content }}
</article>

{% if page.tags %}
  <h3>Related Posts</h3>
  <ul>
    {% for post in site.posts %}
      {% if post != page and post.tags | join: ',' contains page.tags[0] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>{{ post.date | date: "%-d %b %Y" }}</small>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}